@import url('https://fonts.cdnfonts.com/css/canela-text-trial');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.homenavbar {
    /* background-image: url(../assets/images/Rectangle\ 2.svg);
    background-repeat: no-repeat; */
    width: 100%;
   
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.bar {

    display: flex;
    flex-direction: row;


}


.bar li {
    margin-left: 10px;
    list-style: none;
    margin-top: 20px;
    font-family: 'Canela Deck Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: black;
}

.ph {
    margin-left: 1000px;
    list-style: none;
    margin-top: -13px;
    font-family: 'Canela Deck Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: black;
    


}


.bar1{ 
    margin-top: 15px;
}

.homeimag {
    position: relative;
    width: 100%;
    filter: brightness(50%);

}
.bar2 li {
    margin-left: 3px;
    list-style: none;
    margin-top: 20px;
    font-family: 'Canela Deck Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.bok {
    color: #ffffff;
    width: 94px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: Transparent;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
 
    transition: 0.5s;

}
.head{
    
    color: black;
    width: 94px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 37px;
    transition: 0.5s;
}
.bok:hover{
    background-color:green;
    color:white;
  }
.bar a {
    text-decoration: none;
    color: #FFFFFF;
}

.bar2 a {
    text-decoration: none;
    color: #FFFFFF;
}

.text {
    position: absolute;
    width: 50%;
    height: 68px;
    left: 305px;
    top: 309px;
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    text-align: center;
    padding-left: 30px;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    /* identical to box height */

    color: #FFFFFF;
}

.text1 {
    /* position: absolute;
    width: 449px;
    height: 52px;
    left: 495px;
    top: 30%;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: lowercase;
    padding-left: 500px;
    color: #FFFFFF; */
    position: absolute;
    width: 449px;
    height: 74px;
    left: 424px;
    top: 349px;
    padding-top: 20px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}
.text2{
    position: absolute;
    width: 837px;
    height: 52px;
    left: 256px;
    top: 462px;
    padding-top: 20px;
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.tex {
    position: absolute;
    width: 170px;
    height: 36px;
    left: 635px;
    top: 50%;
    padding-left: 50px;
    margin-top: 233px;
}

